/* CSS chung */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.title {
    font-size: 24px;
}

.puzzle {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 5px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Media query cho điện thoại */
@media (max-width: 768px) {
    .title {
        font-size: 4vw; /* Điều chỉnh kích thước font sử dụng vw */
        margin-bottom: 2vh; /* Điều chỉnh margin sử dụng vh */
    }

    .puzzle {
        grid-template-columns: repeat(4, 12.5vw); /* Điều chỉnh columns sử dụng vw */
        grid-template-rows: repeat(4, 12.5vw); /* Điều chỉnh rows sử dụng vw */
        gap: 2vw; /* Điều chỉnh gap sử dụng vw */
        margin: 10vw 0; /* Điều chỉnh margin sử dụng vw */
    }

    button {
        padding: 0;
        width: 12.5vw; /* Điều chỉnh width của button sử dụng vw */
        height: 12.5vw; /* Điều chỉnh height của button sử dụng vw */
        font-size: 4vw; /* Điều chỉnh font size của button sử dụng vw */
        border: 1px solid #ccc;
        outline: none;
    }
}
