/* CSS chung */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Màu nền */
}

.container {
    text-align: center;
}

.title {
    font-size: 24px;
    color: #333; /* Màu chữ */
}

.puzzle {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 5px;
    margin: 20px 0;
    background-color: #fff; /* Màu nền cho khu vực ô số */
    border: 2px solid #ccc; /* Đường viền */
    padding: 10px;
    border-radius: 5px; /* Bo tròn góc */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Màu nút */
    color: white; /* Màu chữ nút */
    border: none;
    border-radius: 3px; /* Bo tròn góc nút */
    margin: 5px;
}
.puzzle-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query cho điện thoại */
@media (max-width: 768px) {
    .title {
        font-size: 4vw;
        margin-bottom: 2vh;
    }

    .puzzle {
        grid-template-columns: repeat(4, 12.5vw);
        grid-template-rows: repeat(4, 12.5vw);
        gap: 2vw;
        margin: 10vw 0;
        background-color: #fff; /* Màu nền cho khu vực ô số */
        border: 2px solid #ccc; /* Đường viền */
        padding: 10px;
        border-radius: 5px; /* Bo tròn góc */
    }

    button {
        background-color: #4CAF50;
        padding: 0;
        width: 12.5vw;
        height: 12.5vw;
        font-size: 4vw;
    }
    .puzzle-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
